# Einführung Statistiklabor

# Beispielaufgabe 1 - Schulnoten

Lesen Sie die txt-Datei mit den Schulnoten ein und lassen Sie sich diese als Pandas-Dataframework ausgeben.
Anschließend sollen die **Häufigkeiten der erreichten Noten mithilfe eines Säulendiagramms** dargestellt sowie der *Mittelwert*, die *Standardabweichung*, die *Varianz* und der *Median* sowie die *Spannweite* ausgegeben werden. 

Die Formel für den Mittelwert zum Beispiel lautet:
$$\bar x = \frac{1}{n}\sum_{i=1}^{n} x_i$$

## 1. Einlesen der Datei

In [19]:
import pandas as pd
data = pd.read_csv('~/Python/Statistics/datasets/einf_b1.txt', sep=" ", header=None, names=['Nr', 'Punkte', 'Note'], decimal=',')
data.head(15)#.dtypes

    Nr  Punkte  Note
0   01     110   1.0
1   02      90   1.7
2   03     108   1.0
3   04      95   1.3
4   05      80   2.3
5   06      74   2.7
6   07      52   3.7
7   08      78   2.3
8   09      39   4.7
9   10     102   1.0
10  qw     500   8.4
11  11      79   2.3
12  12      88   1.7
13  13      58   3.3
14  14      86   2.0

## 2. Daten bereinigen
In der 11. Zeile (index = 10) scheinen ungültige Daten vorzuliegen. Diese sollen aus dem Datensatz (mit *dataframe.drop()*) gelöscht werden.

In [20]:
data = data.drop([10], axis = 0)
data = data.reset_index()
data = data.drop('index', axis = 1)
data

    Nr  Punkte  Note
0   01     110   1.0
1   02      90   1.7
2   03     108   1.0
3   04      95   1.3
4   05      80   2.3
5   06      74   2.7
6   07      52   3.7
7   08      78   2.3
8   09      39   4.7
9   10     102   1.0
10  11      79   2.3
11  12      88   1.7
12  13      58   3.3
13  14      86   2.0
14  15      49   4.0
15  16      87   2.0
16  17      95   1.3
17  18      94   1.7
18  19      61   3.3
19  20      99   1.3
20  21      85   2.0
21  22      82   2.0
22  23      77   2.3
23  24      95   1.3
24  25      91   1.7
25  26      83   2.0
26  27     101   1.0
27  28      75   2.7
28  29      77   2.3
29  30      66   3.0
30  31      85   2.0
31  32      89   1.7
32  33      64   3.0
33  34      82   2.0
34  35      72   2.7
35  36      76   2.7
36  37      95   1.3
37  38      87   2.0
38  39      84   2.0
39  40     110   1.0
40  41      80   2.3
41  42      74   2.7

## 3. Säulendiagramm der Häufigkeiten erstellen

### 3.1 Schulnoten-"klassen" einführen
Jede Dezimalnote kann einer eindeutigen Schulnotenklasse wie *sehr gut*, *gut*, ... und *ungenügend* zugeordnet werden. 
Die Trennung erfolgt immer bei $x,3$. Sodass z.B. 2,3 noch zur Gruppe gut gehört. **Aber:** Ab 4,0 ist die Zuordnung allgemein ungenügend.

In [21]:
notenGrenzen =[0, 1.3, 2.3, 3.3, 4.0, 6.0]
notenKlassen = ['sehr gut', 'gut', 'befriedigend', 'ausreichend']

neue_noten = pd.cut([])


data.head()

TypeError: cut() missing 1 required positional argument: 'bins'

### 3.2 Häufigkeiten bestimmen
Mithilfe der Pandas-Funktion value_counts() kann ganz leicht die absolute Häufigkeit der jeweiligen Note $H_n(Note)$ bestimmt werden.

*z.B.: $H_n(gut) = 20$*

In [8]:
data_hf = pd.value_count(data['Schulnoten'], sort=False).rename_axis('Schulnoten').reset_index(name = 'Häufigkeit')

data_hf

#### Die relative Häufigkeit

$h_n = \frac{H_n(Note)}{n}$

Die Grundgesamtheit $n$ bestimmen über:

In [17]:
n = data_hf['Häufigkeit'].sum()

print(n)

NameError: name 'data_hf' is not defined

*optionaler Zusatz: Die Summen der Spalten in neuer Zeile mit ausgeben lassen:*

In [18]:
data_hf.loc['Summe']=data_hf['Häufigkeit'].sum()

data_hf

NameError: name 'data_hf' is not defined

Relative Häufigkeit in Prozent [%] bestimmen (vgl. obere Formel)

In [11]:
data_hf[]

### 3.3 Säulendiagramm erstellen

In [22]:
import matplotlib.pyplot as plt

plt.bar(data_hf['Schulnoten'])

#### Ergänzung: Beschriftung der Säulen hinzufügen
(am Beispiel der relativen Häufigkeit)

In [13]:
# Code

## 4. Statistische Angaben ausgeben
Für Mittelwert, Standardabweichung, Varianz und Median können vorgefertigte Methoden aufgerufen werden.

In [14]:
# Code

Die Spannweite wird bestimmt, indem der kleinste Wert vom größten abgezogen wird. Zur Bestimmung dieser beiden Werte können auch wieder vorgefertigte Methoden verwendet werden.

In [15]:
# Code